.container {
  margin: 0 auto;
  width: 840px;
	font-family: 'Open Sans', sans-serif;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

header h1 {
  display: inline;
  float: left;
}

.nav-content {
  width: 850px;
  margin: auto;
  position: relative;
  text-align: right;
  color: white;
  display: block;
}

/*.content {
width : 800px;
position : relative;
}*/

nav {
  position: relative;
  top: 38px;
  display: inline-block;
  padding-left: 50px;
}

.nav-content nav a {
  color: white;
  padding: 5px;
}

.nav-content nav a:visited {
  color: white;
}
.content {
  padding-top : 110px;
}