.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
}

header li {
  display: inline;
  padding: 20px;
}

header {
  text-align: center;
  border-bottom: dotted black 2px;
}
