.container {
  margin: 0 auto;
  width: 720px;
	font-family: 'Open Sans', sans-serif;
<<<<<<< HEAD
}

header li {
  display: inline;
  padding: 20px;
}

header {
  text-align: center;
  border-bottom: dotted black 2px;
}
=======
}
>>>>>>> 85daedf1439d9481512af5e95f101bad28082901
